doctype html
html(lang='en', ng-app='kanbanApp')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular-resource.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular-route.min.js')
    script(src='/app/js/app.js')
    script(src='/app/js/controllers/AngularTestController.js')
    script(src='/app/js/controllers/NgTestController.js')
  body(ng-cloak)
    div.container
      div
        p Welcome to #{title}
      div(ng-view)