doctype html
html(lang='en', ng-app='kanbanApp')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/xeditable.css')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular-resource.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular-route.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='/javascripts/xeditable.min.js')
    script(src='/app/lib/ngDraggable/ngDraggable.js')
    script(src='/app/js/app.js')
    script(src='/app/js/controllers/KanbanController.js')
    script(src='/app/js/controllers/TaskController.js')
    script(src='/app/js/services/board.js')
    script(src='/app/js/services/containersData.js')
    script(src='/app/js/services/tasksData.js')
    script(src='/app/js/directives/modalDialog.js')
    script(src='/app/js/directives/dialogFocus.js')
  block content