doctype html
html(lang='en')
  head
    title 
    link(rel='stylesheet', href='/javascripts/qunit/qunit.css')
  body
    div#qunit
      div#qunit-fixture
        script(src='/javascripts/qunit/qunit.js')
        script(src='/javascripts/tests.js')