/* Reload */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	/* font-weight: inherit;
	font-style: inherit;*/
	/*font-size: 100%;*/
	font-family: inherit;
	vertical-align: baseline;
}

body {
  padding: 1em;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div.board {
	/**display:inline-block;
	top:1em;
	position:relative;
	padding: 40px 40px 40px 40px;
	margin-left: auto;
	margin-right: auto;
	width:100%;
	height:480px;*/
}

div.board-body {
    height:420px;
}

div.board-container  {
	border:groove; 
	padding: 0px 2px 0px 1px;
    height:100%;
	/*width:191px;
	height:394px;
	float: left;*/
	background: #ffffff;
}

    h3.board-containter-title {
        border: 1px solid gray;
        padding: 0px;
        margin: 1px;
    }

    div.board-container-body {
        border-top: 2px;
        border-style: double;
        border-color: gray;
        height:100%;
    }

div.task {
    border: 1px solid blue;
    height: 34px;
    margin: 2px;
    /* Disable Text selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    div.task-title {
        padding: 2px;
        font-size: 13pt;
    }

.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}
